.table td, .table th {
    vertical-align: middle;
    font-size: 10px;
}
.action__btn>td{
    padding: 1px !important;
}
.action__btn button{
    padding: 0px 8px 3px 8px;
    
}
.action__btn button .fa{
    font-size: 8px;
}
.action__btn button{
    border-radius: 3px !important;
}
ul.custom__nav__tab li a{
border: none !important;
font-size: 11px;
}
.text-danger{
    font-size: small !important;
}
table.custom__table td{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.custom__pagination li.page-item .page-link {
    padding: 6px 10px;
    font-size: 13px;
}
.custom__nav__btn{
    border-radius: 0px !important;
    cursor: pointer;
}
.custom__nav__tab li a{
    padding: 0.3rem 0.6rem !important;
}
.custom__label{
    font-size: 12px !important;
    margin-bottom: 0rem !important;
}
.custom__input__field{
height: 30px !important;
}